<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="ColumnOrder">
            <entry key="array-size" type="xint" value="57"/>
            <entry key="0" type="xstring" value="&lt;any unknown new column&gt;"/>
            <entry key="1" type="xstring" value="Mean(Austria)"/>
            <entry key="2" type="xstring" value="Mean(Austria) (muertos)"/>
            <entry key="3" type="xstring" value="Mean(Belgium)"/>
            <entry key="4" type="xstring" value="Mean(Belgium) (muertos)"/>
            <entry key="5" type="xstring" value="Mean(Bulgaria)"/>
            <entry key="6" type="xstring" value="Mean(Bulgaria) (muertos)"/>
            <entry key="7" type="xstring" value="Mean(Croatia)"/>
            <entry key="8" type="xstring" value="Mean(Croatia) (muertos)"/>
            <entry key="9" type="xstring" value="Mean(Cyprus)"/>
            <entry key="10" type="xstring" value="Mean(Cyprus) (muertos)"/>
            <entry key="11" type="xstring" value="Mean(Czech Republic)"/>
            <entry key="12" type="xstring" value="Mean(Czech Republic) (muertos)"/>
            <entry key="13" type="xstring" value="Mean(Denmark)"/>
            <entry key="14" type="xstring" value="Mean(Denmark) (muertos)"/>
            <entry key="15" type="xstring" value="Mean(EU-27)"/>
            <entry key="16" type="xstring" value="Mean(EU-27) (muertos)"/>
            <entry key="17" type="xstring" value="Mean(Estonia)"/>
            <entry key="18" type="xstring" value="Mean(Estonia) (muertos)"/>
            <entry key="19" type="xstring" value="Mean(Finland)"/>
            <entry key="20" type="xstring" value="Mean(Finland) (muertos)"/>
            <entry key="21" type="xstring" value="Mean(France)"/>
            <entry key="22" type="xstring" value="Mean(France) (muertos)"/>
            <entry key="23" type="xstring" value="Mean(Germany)"/>
            <entry key="24" type="xstring" value="Mean(Germany) (muertos)"/>
            <entry key="25" type="xstring" value="Mean(Greece)"/>
            <entry key="26" type="xstring" value="Mean(Greece) (muertos)"/>
            <entry key="27" type="xstring" value="Mean(Hungary)"/>
            <entry key="28" type="xstring" value="Mean(Hungary) (muertos)"/>
            <entry key="29" type="xstring" value="Mean(Ireland)"/>
            <entry key="30" type="xstring" value="Mean(Ireland) (muertos)"/>
            <entry key="31" type="xstring" value="Mean(Italy)"/>
            <entry key="32" type="xstring" value="Mean(Italy) (muertos)"/>
            <entry key="33" type="xstring" value="Mean(Latvia)"/>
            <entry key="34" type="xstring" value="Mean(Latvia) (muertos)"/>
            <entry key="35" type="xstring" value="Mean(Lithuania)"/>
            <entry key="36" type="xstring" value="Mean(Lithuania) (muertos)"/>
            <entry key="37" type="xstring" value="Mean(Luxembourg)"/>
            <entry key="38" type="xstring" value="Mean(Luxembourg) (muertos)"/>
            <entry key="39" type="xstring" value="Mean(Malta)"/>
            <entry key="40" type="xstring" value="Mean(Malta) (muertos)"/>
            <entry key="41" type="xstring" value="Mean(Netherlands)"/>
            <entry key="42" type="xstring" value="Mean(Netherlands) (muertos)"/>
            <entry key="43" type="xstring" value="Mean(Poland)"/>
            <entry key="44" type="xstring" value="Mean(Poland) (muertos)"/>
            <entry key="45" type="xstring" value="Mean(Portugal)"/>
            <entry key="46" type="xstring" value="Mean(Portugal) (muertos)"/>
            <entry key="47" type="xstring" value="Mean(Romania)"/>
            <entry key="48" type="xstring" value="Mean(Romania) (muertos)"/>
            <entry key="49" type="xstring" value="Mean(Slovak Republic)"/>
            <entry key="50" type="xstring" value="Mean(Slovak Republic) (muertos)"/>
            <entry key="51" type="xstring" value="Mean(Slovenia)"/>
            <entry key="52" type="xstring" value="Mean(Slovenia) (muertos)"/>
            <entry key="53" type="xstring" value="Mean(Spain)"/>
            <entry key="54" type="xstring" value="Mean(Spain) (muertos)"/>
            <entry key="55" type="xstring" value="Mean(Sweden)"/>
            <entry key="56" type="xstring" value="Mean(Sweden) (muertos)"/>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Ordenamos %%00013%%00010las filas %%00013%%00010para los cálculos%%00013%%00010 necesarios"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="447"/>
        <entry key="y-coordinate" type="xint" value="159"/>
        <entry key="width" type="xint" value="106"/>
        <entry key="height" type="xint" value="60"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="9"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.columnresorter.ColumnResorterNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Resorter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.1.v202201171147"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.2.v202203141441"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Resorter"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 124, Cols: 56"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="b3293544-e082-4dea-bd62-e99d53865b67"/>
    </config>
</config>
