<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column-filter">
            <entry key="filter-type" type="xstring" value="name_pattern"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="30"/>
                <entry key="0" type="xstring" value="First(Date&amp;Time)"/>
                <entry key="1" type="xstring" value="First(Date&amp;Time) (#1)"/>
                <entry key="2" type="xstring" value="Mean(Austria) (#1)"/>
                <entry key="3" type="xstring" value="Mean(Belgium) (#1)"/>
                <entry key="4" type="xstring" value="Mean(Bulgaria) (#1)"/>
                <entry key="5" type="xstring" value="Mean(Croatia) (#1)"/>
                <entry key="6" type="xstring" value="Mean(Cyprus) (#1)"/>
                <entry key="7" type="xstring" value="Mean(Czech Republic) (#1)"/>
                <entry key="8" type="xstring" value="Mean(Denmark) (#1)"/>
                <entry key="9" type="xstring" value="Mean(EU-27) (#1)"/>
                <entry key="10" type="xstring" value="Mean(Estonia) (#1)"/>
                <entry key="11" type="xstring" value="Mean(Finland) (#1)"/>
                <entry key="12" type="xstring" value="Mean(France) (#1)"/>
                <entry key="13" type="xstring" value="Mean(Germany) (#1)"/>
                <entry key="14" type="xstring" value="Mean(Greece) (#1)"/>
                <entry key="15" type="xstring" value="Mean(Hungary) (#1)"/>
                <entry key="16" type="xstring" value="Mean(Ireland) (#1)"/>
                <entry key="17" type="xstring" value="Mean(Italy) (#1)"/>
                <entry key="18" type="xstring" value="Mean(Latvia) (#1)"/>
                <entry key="19" type="xstring" value="Mean(Lithuania) (#1)"/>
                <entry key="20" type="xstring" value="Mean(Luxembourg) (#1)"/>
                <entry key="21" type="xstring" value="Mean(Malta) (#1)"/>
                <entry key="22" type="xstring" value="Mean(Netherlands) (#1)"/>
                <entry key="23" type="xstring" value="Mean(Poland) (#1)"/>
                <entry key="24" type="xstring" value="Mean(Portugal) (#1)"/>
                <entry key="25" type="xstring" value="Mean(Romania) (#1)"/>
                <entry key="26" type="xstring" value="Mean(Slovak Republic) (#1)"/>
                <entry key="27" type="xstring" value="Mean(Slovenia) (#1)"/>
                <entry key="28" type="xstring" value="Mean(Spain) (#1)"/>
                <entry key="29" type="xstring" value="Mean(Sweden) (#1)"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="57"/>
                <entry key="0" type="xstring" value="Mean(Austria)"/>
                <entry key="1" type="xstring" value="Mean(Belgium)"/>
                <entry key="2" type="xstring" value="Mean(Bulgaria)"/>
                <entry key="3" type="xstring" value="Mean(Croatia)"/>
                <entry key="4" type="xstring" value="Mean(Cyprus)"/>
                <entry key="5" type="xstring" value="Mean(Czech Republic)"/>
                <entry key="6" type="xstring" value="Mean(Denmark)"/>
                <entry key="7" type="xstring" value="Mean(EU-27)"/>
                <entry key="8" type="xstring" value="Mean(Estonia)"/>
                <entry key="9" type="xstring" value="Mean(Finland)"/>
                <entry key="10" type="xstring" value="Mean(France)"/>
                <entry key="11" type="xstring" value="Mean(Germany)"/>
                <entry key="12" type="xstring" value="Mean(Greece)"/>
                <entry key="13" type="xstring" value="Mean(Hungary)"/>
                <entry key="14" type="xstring" value="Mean(Ireland)"/>
                <entry key="15" type="xstring" value="Mean(Italy)"/>
                <entry key="16" type="xstring" value="Mean(Latvia)"/>
                <entry key="17" type="xstring" value="Mean(Lithuania)"/>
                <entry key="18" type="xstring" value="Mean(Luxembourg)"/>
                <entry key="19" type="xstring" value="Mean(Malta)"/>
                <entry key="20" type="xstring" value="Mean(Netherlands)"/>
                <entry key="21" type="xstring" value="Mean(Poland)"/>
                <entry key="22" type="xstring" value="Mean(Portugal)"/>
                <entry key="23" type="xstring" value="Mean(Romania)"/>
                <entry key="24" type="xstring" value="Mean(Slovak Republic)"/>
                <entry key="25" type="xstring" value="Mean(Slovenia)"/>
                <entry key="26" type="xstring" value="Mean(Spain)"/>
                <entry key="27" type="xstring" value="Mean(Sweden)"/>
                <entry key="28" type="xstring" value="First(Date&amp;Time) (muertos)"/>
                <entry key="29" type="xstring" value="Mean(Austria) (muertos)"/>
                <entry key="30" type="xstring" value="Mean(Belgium) (muertos)"/>
                <entry key="31" type="xstring" value="Mean(Bulgaria) (muertos)"/>
                <entry key="32" type="xstring" value="Mean(Croatia) (muertos)"/>
                <entry key="33" type="xstring" value="Mean(Cyprus) (muertos)"/>
                <entry key="34" type="xstring" value="Mean(Czech Republic) (muertos)"/>
                <entry key="35" type="xstring" value="Mean(Denmark) (muertos)"/>
                <entry key="36" type="xstring" value="Mean(EU-27) (muertos)"/>
                <entry key="37" type="xstring" value="Mean(Estonia) (muertos)"/>
                <entry key="38" type="xstring" value="Mean(Finland) (muertos)"/>
                <entry key="39" type="xstring" value="Mean(France) (muertos)"/>
                <entry key="40" type="xstring" value="Mean(Germany) (muertos)"/>
                <entry key="41" type="xstring" value="Mean(Greece) (muertos)"/>
                <entry key="42" type="xstring" value="Mean(Hungary) (muertos)"/>
                <entry key="43" type="xstring" value="Mean(Ireland) (muertos)"/>
                <entry key="44" type="xstring" value="Mean(Italy) (muertos)"/>
                <entry key="45" type="xstring" value="Mean(Latvia) (muertos)"/>
                <entry key="46" type="xstring" value="Mean(Lithuania) (muertos)"/>
                <entry key="47" type="xstring" value="Mean(Luxembourg) (muertos)"/>
                <entry key="48" type="xstring" value="Mean(Malta) (muertos)"/>
                <entry key="49" type="xstring" value="Mean(Netherlands) (muertos)"/>
                <entry key="50" type="xstring" value="Mean(Poland) (muertos)"/>
                <entry key="51" type="xstring" value="Mean(Portugal) (muertos)"/>
                <entry key="52" type="xstring" value="Mean(Romania) (muertos)"/>
                <entry key="53" type="xstring" value="Mean(Slovak Republic) (muertos)"/>
                <entry key="54" type="xstring" value="Mean(Slovenia) (muertos)"/>
                <entry key="55" type="xstring" value="Mean(Spain) (muertos)"/>
                <entry key="56" type="xstring" value="Mean(Sweden) (muertos)"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value="First(Date&amp;Time)"/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.time.localdate.LocalDateValue" type="xboolean" value="true"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Filtro para guardar%%00013%%00010fechas"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="228"/>
        <entry key="y-coordinate" type="xint" value="580"/>
        <entry key="width" type="xint" value="106"/>
        <entry key="height" type="xint" value="30"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="9"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" value="Se filtra nada mas las fechas para poderlas unir con el resultado de los calculos%%00013%%00010"/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Filter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.1.v202201171147"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.2.v202203141441"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Filter"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 123, Cols: 1"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="9aba371b-c101-4d23-bf4e-9fb1ec57f683"/>
    </config>
</config>
